body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#bmiCalculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#inputContainer {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #4cae4c;
}

#resultContainer {
    display: none;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    padding: 10px;
    border-radius: 5px;
}
